.contato{
    padding-top: 10%;
    padding-bottom: 10%;
    
    background-color: rgba(75, 75, 75, 1);

}

.contato .contato-info{
    color: wheat;

}

.contato .row{
    margin-top: 3%;
}

.contato .typewriter{
    background-color: rgba(0, 0, 0, 1);
}

.contato .seccao-de-contato{
    font-size: 240%;
    margin-bottom: 5%;
    margin-left: -6%;
    color: rgb(243, 213, 82);
}

.contato .contato-telefone{
    padding-left: 1%;
}