.escolaridade{
    background-color: black;
    padding: 5%;
}


.escolaridade .seccao-da-escolaridade {
    font-size: 240%;
    margin-bottom: 5%;
    margin-left: -6%;
    color: rgb(243, 213, 82);
}

.escolaridade .escolaLogo{
    width: 100%;
    float: left;
}

.escolaridade .info-div-unicamp, .info-div-unesp{
    border-width: 1px;
    border-radius: 10px;
    border-color: rgb(106, 117, 76);
}

.escolaridade .info-div-unicamp{
    border-left: solid;
    border-color: rgb(106, 117, 76);
}

.escolaridade .info-div-unesp{
    border-right: solid;
    border-color: rgb(106, 117, 76);
}

.row-info{
    margin-bottom: 5%;
}

.escolaridade .info{
    color: rgb(196, 184, 18);
}

.escolaridade .titulo-info{
    color: rgb(250, 220, 49);
}

.nav-div{
    margin-bottom: 10%;
}
