.home-div{

}

.img-home-div{
    width: 100%;
    height: 100%;
}

.img-home {
    position: fixed;
    top: 0px;
    z-index: -100;

    width: 100%;
    height: 100%;
    
}


.home .colver-div{
    margin-top: 10%;
    padding-top: 5%;
    padding-bottom: 25%;
    background-color: rgba(0, 0, 0, 0.4);

    width: 100%;
    height: 400px;
}

.arrow-down-div{
    margin-top: 10%;
}

.arrow-down{
    width: 140px;
    height: 70px;

    opacity: 0.4;
}

.arrow-hidden{
    opacity: 0.2
}

.arrow-down-img-div{
    margin-top: -5%;
}


.home .escolaridade-div{
    background-color: black;
    width: 100%;
    height: 100%;
}



.home .typewriter-home{
    color: cyan;
    
}

.no-colver-div{
    margin-left: 15%;
    width: 30%;
}





.typewriter-home{
    color: rgb(250, 220, 49);
    background-color: rgba(29, 29, 29, 0);
    padding-left: -10%;
}

.typewriter-home h1 {
    color: rgb(250, 220, 49);
    padding-left: 10%;
    overflow: hidden; 
    white-space: nowrap; 
    margin: 0 auto; 
    letter-spacing: .15em; 
    font-family: Serif;
}

.home .typewriter-home .programador{
    overflow: hidden; 
    white-space: nowrap; 
    margin: 0 auto; 
    letter-spacing: .15em; 
    animation: 
        typing 1s steps(30, end) 0s
}


.home .typewriter-home .desenvolvedor h1 {
    overflow: hidden; 
    white-space: nowrap; 
    margin: 0 auto; 
    
    letter-spacing: .15em; 
    animation:
        typing 1.5s steps(30, end) .5s,
        hide-animation .5s steps(30, end)
}
.home .typewriter-home .e-comercial h1{
    overflow: hidden; 
    white-space: nowrap; 
    margin: 0 auto; 
    letter-spacing: .15em; 
    width: 92%;

    animation: 
        typing .5s steps(30, end) 1.3s,
        hide-animation 1.3s steps(30, end)
}

.home .typewriter-home .freelancer h1 {
    overflow: hidden; 
    white-space: nowrap; 
    margin: 0 auto; 
    letter-spacing: .15em; 
    animation: 
        typing 1s steps(30, end) 1.4s,
        hide-animation 1.4s steps(30, end)
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes hide-all{
    from {width: 0;}
    to {width: 0;}
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes hide-animation {
    from,
    to { width: 0%}
}

.home .typewriter-div {
    background-color: rgba(49, 49, 49, 0.7); 
}

.typewriter h1 {
    padding-left: 10%;
    overflow: hidden; 
    border-right: .15em solid orange;
    white-space: nowrap; 
    margin: 0 auto; 
    letter-spacing: .15em; 
    animation: 
        typing 3.5s steps(30, end),
        blink-caret .5s step-end infinite;
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange }
}