


.mycss-nav-options{
    font-size: 160%;
}

.my-nav-full-div{
    position: fixed;
    top:0px;
    width: 100%;
    z-index: 9000000;
    
}

.my-nav-div{
    height: 100%;
    background-color: black;
}