

.projetos-pessoais {
    background-color: rgb(61, 61, 61);
    padding: 5%;
}


.projetos-pessoais .seccao-da-projetos-pessoais {
    font-size: 240%;
    margin-bottom: 5%;
    margin-left: -6%;
    color: rgb(243, 213, 82);
}

.projetos-pessoais .escolaLogo{
    width: 100%;
    float: left;
}

.projetos-pessoais .info-div-projeto-par, .info-div-projeto-impar{
    border-width: 1px;
    border-radius: 10px;
    border-color: rgb(106, 117, 76);
}

.projetos-pessoais .info-div-projeto-par{
    border-left: solid;
    border-color: rgb(106, 117, 76);
}

.projetos-pessoais .info-div-projeto-impar{
    border-right: solid;
    border-color: rgb(106, 117, 76);
}

.row-info{
    margin-bottom: 5%;
}

.projetos-pessoais .info{
    color: rgb(196, 184, 18);
}

.projetos-pessoais .titulo-info{
    color: rgb(250, 220, 49);
}

.nav-div{
    margin-bottom: 10%;
}

.projetos-pessoais .typewriter{
    background-color: rgb(29, 29, 29);
    padding-left: -10%;
}

.projetos-pessoais .typewriter, .meu-portfolio-div{
    background-color: rgba(0, 0, 0, 1);
}
.projetos-pessoais .meu-portfolio-div{
    border-style: solid;
    border-color: gray;
    
}
.projetos-pessoais .typewriter-portfolio{
    padding-top: 10%;
    margin-bottom: 10%;
}

.projetos-pessoais .logo-div-tcc{
    padding-top: 10%;
}
.projetos-pessoais .logo-div-github{
    padding-top: 5%;
}


.projetos-pessoais .p-meu-portfolio-1, .p-meu-portfolio-2{
    color: white;
    width: 100%;
    height: 100%;
    border-right: .15em solid transparent;
    font-size: 20px;
    padding-left: 10%;
    overflow: hidden; 
    white-space: nowrap; 
    margin: 0 auto; 
    letter-spacing: .15em; 
}

.projetos-pessoais .p-meu-portfolio-1{
    
    animation: 
        typing 2.5s steps(30, end),
        blink-caret .5s step-end 0s 5;
}

.projetos-pessoais .p-meu-portfolio-2{
    
    animation: 
        typing 2.5s steps(30, end) 2.5s,
        hide-animation 2.5s steps(30, end),
        blink-caret .5s step-end 2.5s infinite;
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange }
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes hide-animation {
    from,
    to { width: 0%}
}