

.trabalhos {
    background-color: rgb(26, 26, 26);
    padding: 5%;
}


.trabalhos .seccao-de-trabalhos {
    font-size: 240%;
    margin-bottom: 5%;
    margin-left: -6%;
    color: rgb(243, 213, 82);
}

.trabalhos .escolaLogo{
    width: 100%;
    float: left;
}

.trabalhos .info-div-trabalho-1, .info-div-trabalho-2{
    border-width: 1px;
    border-radius: 10px;
    border-color: rgb(106, 117, 76);
}

.trabalhos .info-div-trabalho-1{
    border-left: solid;
    border-color: rgb(106, 117, 76);
}

.trabalhos .info-div-trabalho-2{
    border-right: solid;
    border-color: rgb(106, 117, 76);
}

.row-info{
    margin-bottom: 5%;
}

.trabalhos .info{
    color: rgb(253, 253, 253);
}

.trabalhos .titulo-info{
    color: rgb(250, 220, 49);
}

.nav-div{
    margin-bottom: 10%;
}

.trabalhos .typewriter{
    background-color: rgb(29, 29, 29);
    padding-left: -10%;
}

.trabalhos .paragrafo-desc-trabalho{
    margin: 0px;
    
}

.trabalhos .paragrafo-desc-trabalho-titulo{
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 0px;
}